.row {
text-align: center;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
    cursor: pointer;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    box-shadow: none;
}

.card:hover {
    border: 2px solid;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;
}

.pink {
    background-color: pink;
}

.black {
    background-color: black;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.color-hidden {
    background-color: #eeeeee;
}