.panel {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.bottom-left-panel {
    background-color: red;
    border-bottom-left-radius: 100%;
}

.bottom-right-panel {
    background-color: green;
    border-bottom-right-radius: 100%;
}

.top-left-panel {
    background-color: pink;
    border-top-left-radius: 100%;
}

.top-right-panel {
    background-color: orange;
    border-top-right-radius: 100%;
}

.middle-right-panel {
    background-color: orange;
    border-top-right-radius: 100%;
}

.middle-left-panel {
    background-color: orange;
    border-top-right-radius: 100%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.white {
    background-color: pink;
}

.orange {
    background-color: orange;
}